<div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Interview Title" name="interview-title" (ngModel)="interview?.title">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Interview Date" name="interview-date" (ngModel)="interview?.date">
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <div class="control">
        <textarea class="textarea" placeholder="Pros"></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <textarea class="textarea" placeholder="Cons"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="field">
  <div class="control">
    <textarea class="textarea" placeholder="Notes"></textarea>
  </div>
</div>
